/* header */
.header{
    padding: 10px 40px;
    border-bottom: 1px solid #ebebeb;
}
.header-content {
    display: flex;
    justify-content: space-between;
}
.logo img{
    height: 50px;
}
.left-info {
    display: flex;
    align-items: baseline;
}
.check-city {
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px dashed;
    font-size: 17px;
    margin: 0 10px 0 20px;
    height: 21px;
    cursor: pointer;
}
.check-area {
    color: #777;
    font-size: 13px;
    cursor: pointer;
}
.check-city:hover, .check-area:hover{
    opacity: 0.7;
    transition: all ease 0.3;
}
.header-phone {
    margin: 0 0 0 40px;
    font-size: 20px;
    font-weight: 600;
}
.main-menu {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.main-menu li a{
    padding: 0 10px;
    text-transform: uppercase;
    color: #444;
    font-weight: 600;
    font-size: 14px;
}
.main-menu li a:hover{
    text-decoration: none;
    opacity: 0.7;
    transition: all ease 0.3;
}
.right-info {
    display: flex;
    align-items: center;
}
.cart-button img{
    height: 30px;
}
.user-menu li > form > button.logout, .user-menu > li > a{
    color: #444;
    font-weight: 600;
    margin: 0 0 0 20px;
    text-transform: uppercase;
}
/* end header */

