/* header */
.header{
    padding: 10px 40px;
    border-bottom: 1px solid #ebebeb;
}
.header-content {
    display: flex;
    justify-content: space-between;
}
.logo img{
    height: 50px;
}
.left-info {
    display: flex;
    align-items: baseline;
}
.check-city {
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px dashed;
    font-size: 17px;
    margin: 0 10px 0 20px;
    height: 21px;
    cursor: pointer;
}
.check-area {
    color: #777;
    font-size: 13px;
    cursor: pointer;
}
.check-city:hover, .check-area:hover{
    opacity: 0.7;
    transition: all ease 0.3;
}
.select-location {
    position: fixed;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
}
.select-content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.select-block {
    max-width: 800px;
    background: #fff;
    padding: 20px 40px 40px;
    border: 4px solid #ffc280;
}
.select-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.select-list a{
    color: #333;
    width: 21%;
    padding: 5px;
    margin: 5px 2%;
    line-height: 100%;
    font-size: 16px;
    border-bottom: 1px dashed #ffc280;
}
.select-list a:hover{
    text-decoration: none;
    background: #f3f3f3;
    transition: all ease 0.3;
}
.header-phone {
    margin: 0 0 0 40px;
    font-size: 20px;
    font-weight: 600;
}
.main-menu {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.main-menu li a{
    padding: 0 10px;
    text-transform: uppercase;
    color: #444;
    font-weight: 600;
    font-size: 14px;
}
.main-menu li a:hover{
    text-decoration: none;
    opacity: 0.7;
    transition: all ease 0.3;
}
.right-info {
    display: flex;
    align-items: center;
}
.cart-button img{
    height: 30px;
}
.user-menu li > form > button.logout, .user-menu > li > a{
    color: #444;
    font-weight: 600;
    margin: 0 0 0 20px;
    text-transform: uppercase;
}
/* end header */
/* left menu */
.left-menu {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    position: fixed;
    height: 100%;
    border-right: 1px solid #ebebeb;
    left: 0;
    top: 71px;
    z-index: 9;
    background: #fff;
}
.left-menu li{
    position: relative;
    margin-bottom: 20px;
    padding: 0 20px;
}
.left-menu img{
    height: 40px;
}
.left-menu span{
    position: absolute;
    top: 0;
    left: 80px;
    background: #ff8400;
    color: #fff;
    padding: 8px 10px;
    width: 190px;
    text-transform: uppercase;
    margin-top: 2px;
    display: none;
    opacity: 0;
    transition: all ease 0.5s;
}
.left-menu li:hover span{
    display: block;
    opacity: 1;
    transition: all ease 0.5s;
}
.left-menu span:hover{
    opacity: 0.7;
    transition: all ease 0.3s;
}
.left-menu span:before{
    content: "";
    position: absolute;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ff8400;

}
/* end left menu */
/* slider */
.slider {
    margin: 0 -30px;
}
/* end slider */
/* page */
.page-content {
    padding-left: 80px;
    width: 100%;
    box-sizing: border-box;
}
.main {
    padding: 0 30px;
}
.h2-head {
    text-align: center;
    font-size: 36px;
}
.h2-head span{
    border-bottom: 4px solid #ff8400;
}
.body {
    min-height: 100%;
    padding-bottom: 162px;
    box-sizing: border-box;
    padding-top: 71px;
    margin-top: -71px;
}
/* end page */
/* teaser products */
.products {
    display: flex;
    flex-wrap: wrap;
}
.teaser-item {
    width: 18%;
    margin: 1%;
}
.teaser-img {
    width: 100%;
}
.teaser-title {
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}
.buy-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.old-price{
    text-decoration: line-through;
}
.add-to-cart {
    background: #ff8400;
    color: #fff;
    padding: 5px 20px;
}
/* end teaser products */
/* full products */
.full-item {
    display: flex;
}
.full-img{
    margin-right: 20px;
}
.full-name {
    font-size: 36px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.full-params{
    display: flex;
}
.full-params div{
    margin-right: 10px;
}
/* end full products */
/* latest items */
.latest {
    margin: 80px 0;
}
.latest-items{
    width: 14%;
}
/* end latest items */
/* footer */
.custom{
    display: flex;
    justify-content: space-between;
}
.footer-inner hr{
    margin-bottom: 0;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #635e5e;
}
.foot1, .foot2, .foot3, .foot4{
    display: inline-block;
    vertical-align: top;
    /*padding-right: 62px;*/
    color: #333;
}
.foot4{
    padding-right: 0;
    margin-bottom: -17px;
}
.on-foot h3{
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    margin-bottom: 3px;
    color: ##333;
    font-size: 16px;
}
.f-adr{
    margin-top: 10px;
}
.on-foot a{
    text-decoration: none;
    color: #333;
    border-bottom: 1px dashed;
}
.on-foot a:hover{
    color: #777676;
    transition: all ease 0.2s;
}
.foot3 span{
    font-size: 14px;
}
.mob-icons{
    display: inline-block;
    border: none !important;
    margin-top: 10px;
}
.mob-icons img{
    height: 32px;
}
.mob-icons img:hover{
    opacity: 0.7;
    transition: all ease 0.2s;
}
.footer{
    height: auto;
    padding: 10px 0 20px;
    margin-top: -162px;
}
/* end footer */